@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


  @font-face {
    font-family: 'Macondo';
    src: url('../fonts/Macondo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LilOne';
    src: url('../fonts/LilitaOne.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Concert';
    src: url('../fonts/ConcertOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Marker';
    src: url('../fonts/PermanentMarker-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Readex';
    src: url('../fonts/ReadexPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Russo';
    src: url('../fonts/RussoOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
