@use 'helpers' as *;

body {
  @include fluid-text(18, 14);
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-dark);
  background-color: var(--color-dark);
  cursor: default;
  min-width: fluid(1400, 300);
  margin: 0 5rem; 
  
  @include mobile {
    margin: 0;
  }
}
.label {
  font-size: 0.875rem;
  color: var(--color-grey);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
  
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-base);
  font-weight: 500;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 1.75rem;
  color: var(--color-dark);

  line-height: 1.2;
  
}

h2, .h2 {
  line-height: 1.3;
  font-size: 1.25rem;
  margin-top: 1.2rem;

  color: var(--color-blue);

}

h3, .h3 {
  @include fluid-text(40, 24);
}

h4, .h4 {
  @include fluid-text(26, 18);
  line-height: 0;
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

// a,
// button,
// label,
// input,
// textarea,
// select,
// svg * {
//   transition-duration: var(--transition-duration);
// }

a {
  color: inherit;
  text-decoration: none;
  @include hover {
    color: var(--color-hover);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(1) solid var(--color-light);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}